.menu {
  padding: 1em;
  padding-bottom: calc(var(--base-padding) - var(--scrollbar-height));
  overflow-x: auto;
  display: block;
  background-color: white;
  z-index: 100;
  box-shadow: 0 2px 4px gray;
  user-select: none;
  .MuiStack-root {
    flex-shrink: 0;
  }
}
.box-selector {
  .MuiToggleButton-root {
    padding: 3px;
    outline: none;
    border: none;
    border-radius: 0px;
    cursor: default;
  }
}
