.icon-selector-box {
  background-color: rgb(231, 241, 250);
  padding: 4px;
  max-height: 76px;
  margin: 0;
  border-radius: 5px;
  outline: 1px solid rgb(25, 118, 210);
  overflow-y: auto;
  scrollbar-gutter: stable;
}
