.button-grid {
  &.MuiGrid-container {
    margin-top: 0;
    margin-left: 0;
    width: 144px;
  }
  .MuiGrid-root {
    display: flex;
    align-items: center;
    justify-content: center;
    .MuiButtonBase-root {
      cursor: default;
    }
    .MuiTextField-root {
      width: 3em;
    }
  }
}
