.marker-stack {
  position: absolute;
  user-select: none;
  #marker {
    border: 1px solid black;
    z-index: 10;
    display: flex;
    justify-content: stretch;
    justify-items: center;
    align-items: center;
    &.circle {
      border-radius: 50%;
    }
    &.selected {
      outline: 2px solid rgb(110, 200, 250);
      z-index: 11;
    }
    .icon {
      flex: 1;
    }
  }
  .label {
    display: flex;
    align-items: flex-end;
    z-index: 10;
  }
}
