.token-stack {
  position: absolute;
  user-select: none;
  &.obstacle {
    z-index: 11;
  }
  &.object {
    z-index: 7;
  }
  &.character {
    z-index: 10;
  }
  &.selected {
    z-index: 12;
  }
  .token {
    border: 1px solid black;
    display: flex;
    justify-content: stretch;
    justify-items: center;
    align-items: center;
    &.circle {
      border-radius: 50%;
    }
    &.selected {
      outline: 2px solid rgb(110, 200, 250);
    }
    .icon {
      flex: 1;
    }
  }
  .label {
    display: flex;
    align-items: flex-end;
  }
}
